<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/add-review.css">
    <link rel="stylesheet" href="../assets/css/order_list.css">

    <title>ONLINE SHOP</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">

    <link rel="stylesheet" href="../assets/css/onlineshop.css">

    <link rel="stylesheet" href="../assets/css/owl-carousel.css">

    <link rel="stylesheet" href="../assets/css/lightbox.css">

    <link rel="stylesheet" href="../assets/css/product_description.css">
    <!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="../assets/images/logo.png" style=" width:100px; height:100px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#men">Men's</a></li>
                            <li class="scroll-to-section"><a href="#women">Women's</a></li>
                            <li class="scroll-to-section"><a href="#kids">Kid's</a></li>


                            <!--  ***** Profile *****  -->
                            <div class="hero">
                                <nav>
                                    <img src="../../assets/images/user.png" class="user-pic" onclick="toggleMenu()">

                                    <div class="sub-menu-wrap" id="submenu">
                                        <div class="sub-menu">
                                            <div class="user-info">
                                                <img src="../../assets/images/user.png">
                                                <h3><b>james honor</b></h3>
                                            </div>
                                            <hr>

                                            <a href="#" class="sub-menu-link">
                                                <img src="../../assets/images/profile.png">
                                                <p>Edit Profile</p>
                                                <span><b>></b></span>
                                            </a>

                                            <a href="#" class="sub-menu-link">
                                                <img src="../../assets/images/setting.png">
                                                <p>Settings & Privacy</p>
                                                <span><b>></b></span>
                                            </a>

                                            <a href="#" class="sub-menu-link">
                                                <img src="../../assets/images/help.png">
                                                <p>Help & Support</p>
                                                <span><b>></b></span>
                                            </a>

                                            <a href="{{ url_for('order_list') }}" class="sub-menu-link">
                                                <img src="../../assets/images/order.png">
                                                <p>My Orders</p>
                                                <span><b>></b></span>
                                            </a>

                                            <a href="{{ url_for('products') }}" class="sub-menu-link">
                                                <img src="../../assets/images/wishlist.png">
                                                <p>My Wishlist</p>
                                                <span><b>></b></span>
                                            </a>

                                            <a href="{{ url_for('products') }}" class="sub-menu-link">
                                                <img src="../../assets/images/card.png">
                                                <p>My Credit Cards</p>
                                                <span><b>></b></span>
                                            </a>

                                            <a href="#" class="sub-menu-link">
                                                <img src="../../assets/images/logout.png">
                                                <p>Logout</p>
                                                <span><b>></b></span>
                                            </a>


                                        </div>
                                    </div>
                                </nav>
                            </div>

                            <script>

                                let subMenu = document.getElementById("submenu");

                                function toggleMenu() {
                                    subMenu.classList.toggle("open-menu");
                                }

                            </script>

                            <!--  ***** End of Profile *****  -->


                            <li class="scroll-to-section"><a href="#explore">Explore</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->