
div.review-img {
  margin-top: 50px;
  margin-left: 50px;
  width: 78%;
  background-color: white;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

#rating {
  margin-top: 10px;
  text-align: center;
  max-width: 450px; }

#star2_input {
  width: 30px;
  margin: 10px 0;
}

.section-heading h4{
  text-align: left;
}

.starrr {
display: inline-block; }
.starrr a {
  font-size: 16px;
  padding: 0 1px;
  cursor: pointer;
  color: #FFD119;
  text-decoration: none; }



  
  .file-upload-fieldset {
    border: none;
    margin: 10px 0;
}

.file-upload-label {
    display: inline-block;
    background-color: #25282b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-upload-label:hover {
    background-color: #00060c;
}

.form-control-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
}


