{% include 'includes/header.html' %}

<div class="container mt-5">
    <h2>Shopping Cart</h2>
    {% if items %}
    <table class="table" id="cartTable">


        <thead>
            <tr>
                <th>Item</th>
                <th>Size</th>
                <th>Price/Item</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.p_name }}</td>
                <td>{{ item.size_name }}</td>
                <td><span class="item-price">{{ item.p_price|round(2) }} €</span></td>
                <td><span class="quantity">{{ item.quantity }}</span></td>
                <td><span class="total-price">{{ item.total_price|round(2) }} €</span></td>

            </tr>

            {% endfor %}
            <!-- Hidden element to store serialized JSON data -->
            <div id="cartItemsData" data-cart-items="{{ items | tojson | safe }}"></div>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right"><strong>Total Cost:</strong></td>
                <td><strong>{{ total_cost|round(2) }} €</strong></td>
            </tr>
        </tfoot>



    </table>


    {% else %}

    <h3
        style="text-align: center; font-weight: bold; font-size: 22px; margin-top: 100px; margin-bottom: 20px; padding: 10px;">
        Oupss! Your shopping cart is empty!</h3>

    <p style="text-align: center; font-weight: normal; font-size: 16px; margin: 10px; padding: 10px;">
        Wanna take a look at our popular products?
    </p>

    <p style="text-align: center; font-weight: normal; font-size: 16px; padding: 10px;">
        <a href="/popular_products">Click Here!</a>

        <style>
            /* Add some basic styling for the link */
            a {
                text-decoration: none;
                color: #3498db;
                font-weight: normal;
                transition: color 0.3s ease;
            }

            /* Add a hover effect to change the text color on hover */
            a:hover {
                color: #5b2c55;
            }
        </style>

    </p>


    {% endif %}
</div>

{% include 'includes/footer.html' %}


<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





<!-- jQuery Libraries -->
<script src="../assets/js/jquery-2.1.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Bootstrap -->
<script src="../assets/js/popper.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="../assets/js/owl-carousel.js"></script>
<script src="../assets/js/accordions.js"></script>
<script src="../assets/js/datepicker.js"></script>
<script src="../assets/js/scrollreveal.min.js"></script>
<script src="../assets/js/waypoints.min.js"></script>
<script src="../assets/js/jquery.counterup.min.js"></script>
<script src="../assets/js/imgfix.min.js"></script>
<script src="../assets/js/slick.js"></script>
<script src="../assets/js/lightbox.js"></script>
<script src="../assets/js/isotope.js"></script>
<script src="../assets/js/quantity.js"></script>

<!-- Global Init -->
<script src="../assets/js/custom.js"></script>

<script>

    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);

        });
    });

</script>


<script>
    // JavaScript code to fetch and update cart items
    fetch('/cart')  // Replace with the actual endpoint for getting cart items
        .then(response => response.json())
        .then(items => {
            // Process the received cart items and update the table
            updateCartTable(items);
        })
        .catch(error => {
            console.error('Error fetching cart items:', error);
        });

    function updateCartTable(items) {
        var tableBody = document.getElementById('cartTable').querySelector('tbody');
        const total = parseFloat(cartItem.quantity) * parseFloat(cartItem.p_price);
        console.log("HEY:");
        console.log("Quantity:", parseFloat(cartItem.quantity));
        console.log("Price:", parseFloat(cartItem.price));
        console.log("Total Price:", total);


        items.forEach(function (cartItem) {
            var row = document.createElement('tr');
            row.innerHTML = `
                <td>${cartItem.p_name}</td>
                <td>${cartItem.size_name}</td>
                <td><span class="quantity">${cartItem.quantity}</span></td>
                <td><span class="item-price">${cartItem.p_price} €</span></td>
                <td><span class="total-price">">${total} €</span></td>
            `;
            tableBody.appendChild(row);
        });
    }
</script>




</body>

</html>