<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/DB_operation.css') }}">
    <title>Database Operation</title>
</head>

<body>
    <h1>Database Operations</h1>

    <form action="{{ url_for('fill_database') }}" method="post">
        <button class="button" style="vertical-align:middle" type="submit"><span>Fill Database</span></button>
    </form>

    <form action="{{ url_for('empty_database') }}" method="post">
        <button class="button" style="vertical-align:middle" type="submit"><span>Empty Database</span></button>
    </form>

    <a href="{{ url_for('login') }}">Go to Login Page</a>
</body>

</html>