
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <h1>Sign Up</h1>
    <form method="POST">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" required>
        
        <label for="familyname">Family Name:</label>
        <input type="text" name="familyname" required>

        <label for="email">Email:</label>
        <input type="email" name="email" required>
        
        <label for="phone_no">Phone Number:</label>
        <input type="text" name="phone_no" required>

        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>
        
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
</body>
</html>
